form {
  text-align: center;
  width: 70%;
  margin: 0 auto 0 auto;
}

h1 {
  font-size: 1.5rem;
  font-weight: initial;
  margin-bottom: 1rem;
  color: crimson;
}

h4 {
  font-weight: initial;
  margin: 8rem 0 0 13rem;
  color: crimson;
}

.form {
  width: 100%;
}

.buttons {
  text-align: start;
}

.ng-template {
  text-align: center;
  width: 70%;
  margin: 2rem auto 0 auto;
}
