form {
  text-align: center;
  width: 70%;
  margin: 2rem auto 0 auto;
}

h1 {
  font-size: 2rem;
  font-weight: initial;
  margin-bottom: 3rem;
  color: #4c4ced;
}

h4 {
  font-weight: initial;
  margin: 8rem 0 0 13rem;
  color: #4c4ced;
}

.form {
  width: 100%;
}

.buttons {
  text-align: start;
}
