form {
  text-align: center;
  width: 70%;
  margin: 0 auto 0 auto;
}

h1 {
  font-size: 1.5rem;
  font-weight: initial;
  margin-bottom: 1rem;
  color:darkgreen;
}

.form {
  width: 100%;
}

.buttons {
  text-align: start;
}
